#histAuthorsCheckboxLabel {
  color: black;
}

#histAuthorsCheckbox {
  margin-left: 2px;
  margin-top: 5px;
}

#noHistAuthors {
  display: none;
  color: black;
}

#histUsers {
  margin-left: 7px;
  margin-top: 3px;
}

#histUsers td {
  height: 26px;
  vertical-align: middle;
  padding: 0 2px;
  color: #333;
}

#histUsers .swatch {
  border: 1px solid #000;
  width: 13px;
  height: 13px;
  overflow: hidden;
  margin: 0 4px;
}

#histUsers .swatch {
  border: 1px solid #ccc !important;
  color: #333;
}