<hr>
<input type="checkbox" id="histAuthorsCheckbox">
<label id="histAuthorsCheckboxLabel" for="histUsersCheckbox" data-l10n-id="pad.userlist.showHistoricalAuthors">Chat always on screen</label>

<div style="max-height: 400px; overflow: auto;">
<span data-l10n-id="pad.userlist.noHistoricalAuthors" id="noHistAuthors"></span>
<table id="histUsers" cellspacing="0" cellpadding="0" border="0" style="display: none;"></table>
</div>
